.clearer{
	clear: both;
	line-height: 1px;
	font-size: 1px;
	overflow: hidden;
}
.tx-kecontacts-pi1{
    
}
.tx-kecontacts-pi1 th,
.tx-kecontacts-pi1 tbody td,
.tx-kecontacts-pi1 td{
	border: 1px solid white;
	background-color: #e8e8e8;
}
.tx-kecontacts-pi1 table{
	margin-top: 10px;
	border: none;
}
.tx-kecontacts-pi1 A.editSingleView,.tx-kecontacts-pi1 A.deleteSingleView {
	padding: 5px;
	text-decoration: none;
}

.tx-kecontacts-pi1 .ke-contacts-list-pages {
	width: 50px;
}

A.editSingleView,
A.deleteSingleView{
    background-color: #a7a599;
	border: 1px solid white;
	font-size: 11px;
	color: white;
	cursor: pointer;
}
/*LISTVIEW*/
.tx-kecontacts-pi1 #kecontacts-linkHeaderContainerListview a:hover,
.tx-kecontacts-pi1 #kecontacts-linkHeaderContainerListview a:active,
.tx-kecontacts-pi1 #kecontacts-linkHeaderContainerListview a:focus{
    color: #646464;
    text-decoration: underline;
}
.tx-kecontacts-pi1 #kecontacts-listContainerListview{
    background-image: url("http://kennziffer.intranet/development/bernd/wiff/cms/typo3conf/ext/ke_contacts/res/img/background.gif");
    background-repeat: repeat-y;
    min-height: 100%;
}
.tx-kecontacts-pi1 #kecontacts-subMainContainerListview{
	padding-top: 10px;
	padding-bottom: 10px;
}
/*HEADER LISTVIEW*/
.tx-kecontacts-pi1 td.headerListView{
	background-color: #f2f2f2;
	border: none;
	padding-right: 0px;
}
.tx-kecontacts-pi1 .headerListView select{
	margin-left: 70px;
}

.tx-kecontacts-pi1 .headerListView a{
    font-size: 13px;
    text-decoration: none;
}
.tx-kecontacts-pi1 .headerListView input{
    height: 18px;
    background-color: white;
    color: black;
	padding-top: 2px;
	padding-left: 5px;
	border: 1px solid #A0A09E;
	vertical-align: top;
}
.tx-kecontacts-pi1 .headerListView input.searchButtonListView{
    height: 22px;
    width: 30px;
    margin-left: 4px;
    margin-right: 0px;
    background-color: #A0A09E;
    border: 1px solid white;
    color: white;
    font-size: 11px;
    cursor: pointer;
	padding:0px 5px 3px 5px;
}

/*BODY LISTVIEW HEADER*/
.tx-kecontacts-pi1 .bodyListViewHeader td{
	background-color: #A0A09E;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: none;
}
.tx-kecontacts-pi1 .lastCell{
	border-left: hidden !important;
}
.tx-kecontacts-pi1 .firstCellHeaderList{
    margin-top: 7px;
    margin-left: 7px;
}
.tx-kecontacts-pi1 .firstCellHeaderList p{
    width: 150px;
}
.tx-kecontacts-pi1 .secondCellHeaderList{
    margin-top: 7px;
    margin-left: 7px;
}
.tx-kecontacts-pi1 .thirdCellHeaderList{
    margin-left: 7px;
}
.tx-kecontacts-pi1 .thirdCellHeaderList p{
    width: 60px;
    margin-bottom: 0px;
}
/*BODY LISTVIEW BODY*/
.tx-kecontacts-pi1 .firstRowBodyList td{
    background-color: #e8e8e8;
	padding: 2px;
}
.tx-kecontacts-pi1 .secondRowBodyList td{    
    background-color: #DBDBDB;
	padding: 2px;
}

.tx-kecontacts-pi1 .firstCellBodyList{
    margin-left: 7px;
}
.tx-kecontacts-pi1 #kecontacts-secondCellBodyListContainer{
    border-right: 1px solid white;
}
.tx-kecontacts-pi1 .secondCellBodyList{
    margin-left: 7px;
}
.tx-kecontacts-pi1 .thirdCellBodyList{
    margin-left: 7px;
}
.tx-kecontacts-pi1 #kecontacts-forthCellBodyListContainer{
    width: 50px;
}

.tx-kecontacts-pi1 .forthCellBodyList a{
    text-decoration: none;
}
/*FOOTER LISTVIEW*/
.tx-kecontacts-pi1 .footer td{
	border-left: #f2f2f2;
	border-right: #f2f2f2;
	border-bottom: #f2f2f2;
	background-color: #f2f2f2;
}
.tx-kecontacts-pi1 .footer td.footerlastCell{
	width: 200px;
	text-align: right;
	padding-left: 80px;
}
.tx-kecontacts-pi1 .footer .footerlastCell select{
	
}
/*SINGLEVIEW*/
.tx-kecontacts-pi1 #kecontacts-mainContainerSingleView{
    background-image: url("http://kennziffer.intranet/development/bernd/wiff/cms/typo3conf/ext/ke_contacts/res/img/background.gif");
    background-repeat: repeat-y;
    min-height: 100%;
}
.tx-kecontacts-pi1 #kecontacts-subContainerSingleView{
    width: 400px;  
}
/*HEADER SINGLEVIEW*/
.tx-kecontacts-pi1 #kecontacts-headerContainerSingleView{
    width: inherit; 
}
.tx-kecontacts-pi1 #kecontacts-leftColumnHeaderSingleView{
    float: left;
}
.tx-kecontacts-pi1 #kecontacts-leftColumnHeaderSingleView .bottom{
    margin-top: 50px;
    margin-left: 10px;
	font-size: 13px;
	font-weight: bold;
}
.tx-kecontacts-pi1 #kecontacts-rightColumnHeaderSingleView{
    float: right;
    text-align: right;
	margin-top: 40px;
}

.tx-kecontacts-pi1 #kecontacts-rightColumnHeaderSingleView input{
    margin-bottom: 10px;
}
.tx-kecontacts-pi1 #kecontacts-rightColumnHeaderSingleView input.deleteSingleView{
    width: 60px;
    height: 22px;
	padding-bottom: 3px;
}
.tx-kecontacts-pi1 #kecontacts-rightColumnHeaderSingleView input.editSingleView{
    width: 120px;
    height: 22px;
	padding-bottom: 3px;
}
/*BODY SINGLEVIEW*/
.tx-kecontacts-pi1 #kecontacts-subBodySingleView{
}
.tx-kecontacts-pi1 #kecontacts-masterDataSingleView{
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
}
.tx-kecontacts-pi1 #textareaBodySingleView{
    border: 1px solid black;
    margin-top: 20px;

}
.tx-kecontacts-pi1 #textareaBodySingleView textarea{
    width: 395px;
    height: 100px;
}
.tx-kecontacts-pi1 #kecontacts-commentSaveButton{
    margin-top: 10px;
    text-align: right;
}
.tx-kecontacts-pi1 #kecontacts-commentSaveButton input{
    /*width: 120px;*/
    height: 22px;
    margin-bottom: 10px;
	padding-bottom: 3px;
}
.tx-kecontacts-pi1 #kecontacts-commentsArea{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;
	font-style: italic;
	font-size: 10px;
}
.tx-kecontacts-pi1 #kecontacts-commentsArea .header{
	width: 100%;
	font-size: 11px;
	font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
/*EDIT*/
.tx-kecontacts-pi1  #kecontacts-subContainerEdit{
	padding-bottom: 10px;
}
.tx-kecontacts-pi1 .fieldset {
    padding: 0 0 10px 0;
}
.tx-kecontacts-pi1 .fieldset label {
    display:block;
    width: 200px;
    float: left;
    font-weight: bold;
}
.tx-kecontacts-pi1 .field {
    float:left;
}
.tx-kecontacts-pi1 .field input{
	color: black;
	background-color: white;
	width: 230px;
	border: 1px solid #A0A09E;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.tx-kecontacts-pi1 #kecontacts_gender .field input{
	width: 20px;
}
.tx-kecontacts-pi1 #kecontacts_plz .field input{
	width: 40px;
}
.tx-kecontacts-pi1 select {
    width: 234px;
	border: 1px solid #A0A09E;
}
.tx-kecontacts-pi1 .error {
    float: left;
    color: red;
    font-style: italic;
    margin: 0 0 0 5px;
}
.tx-kecontacts-pi1 #kecontacts_editButton{
	margin-left: 315px;
	height: 24px;
	width: 120px;
}

.tx-kecontacts-pi1 A.linkTextHeader { font-weight: bold; }

/* error output, same layout as ke_troubletickets */
.tx-kecontacts-pi1 .status_ok {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#33C92F url(../img/status_message_bgr.gif) repeat-x scroll left top;
	border:1px solid #025600;
}

.tx-kecontacts-pi1 .status_fail {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E44832 url(../img/error_bg.gif) repeat-x scroll left top;
	border:1px solid #025600;
}

.tx-kecontacts-pi1 .kett_status {
font-size:12px;
font-weight:bold;
margin:0 0 5px;
padding:5px;
}