<!-- ###MAIN_CREATE### begin-->
<div  id="kecontacts-mainContainerEdit">
    <div id="kecontacts-subContainerEdit">
	<div id="kecontacts-headerEditView">
                <h1 class="title">###ACTION_HEADER###</h1>
	</div>
	
	<div class="clearer">&nbsp;</div>
	<div style="width:auto; margin:0 auto; text-align:center">
	
        <form name="kecontacts_editcreate" method="post" action="###ACTION_URL###"  enctype="multipart/form-data" id="editMainform">

			<!-- ###SUB_FIELD_TX_KECONTACTS_TYPE### start -->
			<div id="kecontacts_type" class="fieldset">
                <label>###LABEL_TX_KECONTACTS_TYPE###</label>
				<div class="field">
                    ###FORMFIELD_TX_KECONTACTS_TYPE###
                </div>
                <div class="error">###ERROR_TX_KECONTACTS_TYPE###</div>
                <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_TX_KECONTACTS_TYPE### end -->

			<!-- ###SUB_FIELD_TX_KECONTACTS_ORGANIZATION### start -->
			<div id="kecontacts_organization" class="fieldset" >
				<label>###LABEL_TX_KECONTACTS_ORGANIZATION###</label>
				<div class="field">
				###FORMFIELD_TX_KECONTACTS_ORGANIZATION###
				</div>
				<div class="error">###ERROR_TX_KECONTACTS_ORGANIZATION###</div>
				<div class="clearer">&nbsp;</div>
			</div>
			<!-- ###SUB_FIELD_TX_KECONTACTS_ORGANIZATION### end -->

			<!-- ###SUB_FIELD_GENDER### start -->
			<div id="kecontacts_gender" class="fieldset">
			<label>###LABEL_GENDER###</label>
			    <div class="field">
			    ###FORMFIELD_GENDER###
			</div>
            <div class="error">###ERROR_GENDER###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_GENDER### end -->

			<!-- ###SUB_FIELD_TITLE### start -->
            <div id="kecontacts_title" class="fieldset">
            <label>###LABEL_TITLE###</label>
            <div class="field">
                ###FORMFIELD_TITLE###
            </div>
            <div class="error">###ERROR_TITLE###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_TITLE### end -->

			<!-- ###SUB_FIELD_FIRST_NAME### start -->
            <div id="kecontacts_firstname" class="fieldset">
            <label>###LABEL_FIRST_NAME###</label>
            <div class="field">
                ###FORMFIELD_FIRST_NAME###
            </div>
            <div class="error">###ERROR_FIRST_NAME###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_FIRST_NAME### end -->

			<!-- ###SUB_FIELD_LAST_NAME### start -->
            <div id="kecontacts_lastname" class="fieldset">
            <label>###LABEL_LAST_NAME###</label>
            <div class="field">
                ###FORMFIELD_LAST_NAME###
            </div>
            <div class="error">###ERROR_LAST_NAME###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_LAST_NAME### end -->

			<!-- ###SUB_FIELD_TX_KECONTACTS_FUNCTION### start -->
            <div id="kecontacts_function" class="fieldset">
            <label>###LABEL_TX_KECONTACTS_FUNCTION###</label>
            <div class="field">
                ###FORMFIELD_TX_KECONTACTS_FUNCTION###
            </div>
            <div class="error">###ERROR_TX_KECONTACTS_FUNCTION###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_SUB_FIELD_TX_KECONTACTS_FUNCTION### end -->

			<!-- ###SUB_FIELD_ADDRESS### start -->
            <div id="kecontacts_street" class="fieldset">
            <label>###LABEL_ADDRESS###</label>
            <div class="field">
                ###FORMFIELD_ADDRESS###
            </div>
            <div class="error">###ERROR_ADDRESS###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_ADDRESS### end -->

			<!-- ###SUB_FIELD_ZIP### start -->
            <div id="kecontacts_plz" class="fieldset">
            <label>###LABEL_ZIP###</label>
            <div class="field">
                ###FORMFIELD_ZIP###
            </div>
            <div class="error">###ERROR_ZIP###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_ZIP### end -->

			<!-- ###SUB_FIELD_CITY### start -->
            <div id="kecontacts_city" class="fieldset">
            <label>###LABEL_CITY###</label>
            <div class="field">
                ###FORMFIELD_CITY###
            </div>
            <div class="error">###ERROR_CITY###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_FIRST_NAME### end -->

			<!-- ###SUB_FIELD_COUNTRY### start -->
            <div id="kecontacts_country" class="fieldset">
            <label>###LABEL_COUNTRY###</label>
            <div class="field">
                 ###FORMFIELD_COUNTRY###
            </div>
            <div class="error">###ERROR_COUNTRY###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_COUNTRY### end -->

			<!-- ###SUB_FIELD_EMAIL### start -->
            <div id="kecontacts_email" class="fieldset">
            <label>###LABEL_EMAIL###</label>
            <div class="field">
                ###FORMFIELD_EMAIL###
            </div>
            <div class="error">###ERROR_EMAIL###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_EMAIL### end -->
			
			<!-- ###SUB_FIELD_WWW### start -->
            <div id="kecontacts_email" class="fieldset">
            <label>###LABEL_WWW###</label>
            <div class="field">
                ###FORMFIELD_WWW###
            </div>
            <div class="error">###ERROR_WWW###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_WWW### end -->

			<!-- ###SUB_FIELD_PHONE### start -->
            <div id="kecontacts_phone" class="fieldset">
            <label>###LABEL_PHONE###</label>
            <div class="field">
                ###FORMFIELD_PHONE###
            </div>
            <div class="error">###ERROR_PHONE###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_PHONE### end -->

			<!-- ###SUB_FIELD_MOBILE### start -->
            <div id="kecontacts_mobilephone" class="fieldset">
            <label>###LABEL_MOBILE###</label>
            <div class="field">
                ###FORMFIELD_MOBILE###
            </div>
            <div class="error">###ERROR_MOBILE###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_MOBILE### end -->

			<!-- ###SUB_FIELD_FAX### start -->
            <div id="kecontacts_fax" class="fieldset">
            <label>###LABEL_FAX###</label>
            <div class="field">
                ###FORMFIELD_FAX###
            </div>
            <div class="error">###ERROR_FAX###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_FAX### end -->

			<!-- ###SUB_FIELD_BIRTHDAY### start -->
            <div id="kecontacts_birthday" class="fieldset">
            <label>###LABEL_BIRTHDAY###</label>
            <div class="field">
                ###FORMFIELD_BIRTHDAY###
            </div>
            <div class="error">###ERROR_BIRTHDAY###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_BIRTHDAY### end -->
			
			<!-- ###SUB_FIELD_TESTFELD### start -->
            <div id="kecontacts_testfield" class="fieldset">
            <label>###LABEL_TESTFELD###</label>
            <div class="field">
                ###FORMFIELD_TESTFELD###
            </div>
            <div class="error">###ERROR_TESTFELD###</div>
            <div class="clearer">&nbsp;</div>
            </div>
			<!-- ###SUB_FIELD_TESTFELD### end -->
			
            <input type="hidden" name="tx-kecontacts-pi1[step]" value="evaluate" />
	    <div id="kecontacts-saveButton">
			<input id="kecontacts_editButton" type="submit" name="tx_kecontacts_pi1[submit]" value="###SUBMITACTION###" />
			<div class="clearer">&nbsp;</div>
	    </div>
        </form>
	</div>
		<script type="text/javascript">###JS###</script>
    </div>
</div>
<!-- ###MAIN_CREATE### end-->

<!-- ###SUB_INPUT_TEXT### start -->
        <input type="text" name="###NAME###" value="###VALUE###"/>
<!-- ###SUB_INPUT_TEXT### end -->


<!-- ###SUB_CHECKBOX_ROW### start -->
        <input type="checkbox" name="###NAME###" value="###VALUE###" ###CHECKED### />&nbsp;###LABEL###<br />
<!-- ###SUB_CHECKBOX_ROW### end -->


<!-- ###SUB_RADIO_ROW### start -->
        <input type="radio" name="###NAME###" value="###VALUE###" ###CHECKED### />&nbsp;###LABEL###
<!-- ###SUB_RADIO_ROW### end -->


<!-- ###SUB_SELECT### start -->
        <select name="###NAME###">
                <!-- ###SUB_SELECT_OPTION### start -->
                <option value="###VALUE###" ###SELECTED### ###DISABLED###>###LABEL###</option>
                <!-- ###SUB_SELECT_OPTION### end -->
        </select>
<!-- ###SUB_SELECT### end -->

<!-- ###SUB_SELECT_JS### start -->
        <select name="###NAME###" onchange="javascript: changeType(this.value);return false;">
                <!-- ###SUB_SELECT_OPTION### start -->
                <option value="###VALUE###" ###SELECTED### ###DISABLED###>###LABEL###</option>
                <!-- ###SUB_SELECT_OPTION### end -->
        </select>
<!-- ###SUB_SELECT_JS### end -->


<!-- ###GENERAL_ERROR### begin-->
<div id="kecontacts-mainContainerEdit">
    <div id="kecontacts-subContainerEdit" class="kett_status status_###STATUS###">
		###ERRORTEXT###
		###BACKLINK###
	</div>
</div>
<!-- ###GENERAL_ERROR### end -->
