<!--###LISTVIEW### begin-->
<form name="tx_indexedsearchform" action="###FORMURL###" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td colspan="4" class="headerListView">
                <div>
                    ###CREATENEWCONTACT###
                    <select name="tx_kecontacts_pi1[headerDropDown]">
                    ###FILTER1_OPTIONS###
                    </select>
                    <input name="tx_kecontacts_pi1[sword]"  type="text" size="25" Value="###SEARCHPHRASE###" onclick="if(this.value == this.defaultValue) this.value = '';" />
                    <input class="searchButtonListView"type="submit" value="Los"/>
                </div>
            </td>
        </tr>
        <tr class="bodyListViewHeader">
        <td>
            <div class="firstCellHeaderList">
                <p>###LIST_HEADER1###</p>
            </div>
        </td>
        <td>
            <div class="secondCellHeaderList">
                <p>###LIST_HEADER2###</p>
            </div>
        </td>
        <td>
            <div class="thirdCellHeaderList">
                <p>###LIST_HEADER3###</p>
            </div>
        </td>
        <td class="lastCell">
            <div class="forthCellHeaderList">
                &nbsp;
            </div>
        </td>
        </tr>
        <tr>
            <div id="kecontacts-bodyListContainerListview">
            ###ITEMS###
            </div>
        </tr>
        <tr class="footer">
            <td>
                <div id="kecontacts-pageCounterListView">
                ###PAGECOUNT###
                </div>
            </td>
        <td></td>
        <td class="footerlastCell" colspan="2">
        ###GOTOPAGE###
        <select class="ke-contacts-list-pages" onchange="this.form.submit()" name="tx_kecontacts_pi1[pointer]">
            ###PAGES_OPTIONS###
        </select>
        </td>
        </tr>	
    </table>
</form>
<!--###LISTVIEW### end-->

<!--###ITEM### begin-->
<tr class="###HIGHLIGHTROW###">
	<td id="kecontacts-firstCellBodyListContainer">
		<div class="firstCellBodyList">
			<p>###LAST_NAME### ###FIRST_NAME### ###TITLE### <br/>###ORGANISATION###</p>
        </div>
    </td>
    <td id="kecontacts-secondCellBodyListContainer">
        <div class="secondCellBodyList">
            <p>###ADDRESS###<br/>###ZIP### ###CITY###</p>
        </div>
    </td>
    <td id="kecontacts-thirdCellBodyListContainer">
        <div class="thirdCellBodyList">
            <p>###TELEPHONE###<br/>###EMAIL###<br/>###WWW###</p>
        </div>
    </td>
    <td id="kecontacts-forthCellBodyListContainer">
        <div class="forthCellBodyList">
            ###EDIT_ICON###
        </div>
    </td>
</tr>
<div class="clearer">&nbsp;</div>
<!--###ITEM### end-->